<html>
<head>
    <!--
<link rel="stylesheet" type="text/css" href="/js1/jquery.autocomplete.css" />
<script type="text/javascript" src="/js1/jquery.js"></script>
<script type="text/javascript" src="/js1/jquery.autocomplete.js"></script>
-->

   <meta name="keywords" content="" />
        <meta name="description" content="Vegetables daily price list in Madurai, Tamil Nadu market. Price per kg today in Madurai Mandi and Whole sale committee" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Madurai Vegetables daily price / Market price list in Tamil Nadu today</title>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <script type="text/javascript">
        function clearDefault(ctl){
                 if(ctl.value==ctl.defaultValue) { ctl.value = ""; }
            }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <!-- Google Fonts -->
<!--
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

-->

    
    <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
      <link rel="stylesheet" href="/css/bootstrap-min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<h2><font color='green'>Vegetables price in Madurai, Tamil Nadu </font></h2><div class='Table'>										
										<div class='Heading'>
												<div class='Cellth'>Vegetable Name</div>
												<div class='Cellth'>Unit</div>
												<div class='Cellth'>Market Price</div>
												<div class='Cellth'>Retail Price</div>
												<div class='Cellth'>Shopping Mall</div>
											</div>				
																								<div class='Row'>
														<div class='Cell'>Amaranth leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 10</div>
														<div class='Cell'> &#8377; 12 - 13</div>
														<div class='Cell'> &#8377; 12 - 17</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Ash gourd</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 12</div>
														<div class='Cell'> &#8377; 14 - 15</div>
														<div class='Cell'> &#8377; 14 - 20</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Banana flower</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 18</div>
														<div class='Cell'> &#8377; 21 - 23</div>
														<div class='Cell'> &#8377; 22 - 30</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Beetroot</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 26</div>
														<div class='Cell'> &#8377; 30 - 33</div>
														<div class='Cell'> &#8377; 31 - 43</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Bell Pepper (Capsicum)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 80</div>
														<div class='Cell'> &#8377; 92 - 102</div>
														<div class='Cell'> &#8377; 96 - 132</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Bitter gourd</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 41</div>
														<div class='Cell'> &#8377; 47 - 52</div>
														<div class='Cell'> &#8377; 49 - 68</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Bottlegourd</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 20</div>
														<div class='Cell'> &#8377; 23 - 25</div>
														<div class='Cell'> &#8377; 24 - 33</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Broad beans (fava beans, lima beans, butter beans)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 42</div>
														<div class='Cell'> &#8377; 48 - 53</div>
														<div class='Cell'> &#8377; 50 - 69</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Cabbage</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 15</div>
														<div class='Cell'> &#8377; 17 - 19</div>
														<div class='Cell'> &#8377; 18 - 25</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Carrot</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 39</div>
														<div class='Cell'> &#8377; 45 - 50</div>
														<div class='Cell'> &#8377; 47 - 64</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Cauliflower</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 28</div>
														<div class='Cell'> &#8377; 32 - 36</div>
														<div class='Cell'> &#8377; 34 - 46</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Cluster beans</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 38</div>
														<div class='Cell'> &#8377; 44 - 48</div>
														<div class='Cell'> &#8377; 46 - 63</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Coconut (fresh)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 24</div>
														<div class='Cell'> &#8377; 28 - 30</div>
														<div class='Cell'> &#8377; 29 - 40</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Colocasia leaves (Taro leaves)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 40</div>
														<div class='Cell'> &#8377; 46 - 51</div>
														<div class='Cell'> &#8377; 48 - 66</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Colocasia roots (Taro roots)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 52</div>
														<div class='Cell'> &#8377; 60 - 66</div>
														<div class='Cell'> &#8377; 62 - 86</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Coriander leaves (Cilantro)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 10</div>
														<div class='Cell'> &#8377; 12 - 13</div>
														<div class='Cell'> &#8377; 12 - 17</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Corn</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 18</div>
														<div class='Cell'> &#8377; 21 - 23</div>
														<div class='Cell'> &#8377; 22 - 30</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Cucumber</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 35</div>
														<div class='Cell'> &#8377; 40 - 44</div>
														<div class='Cell'> &#8377; 42 - 58</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Curry leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 5</div>
														<div class='Cell'> &#8377; 6 - 6</div>
														<div class='Cell'> &#8377; 6 - 8</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Dill leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 30</div>
														<div class='Cell'> &#8377; 35 - 38</div>
														<div class='Cell'> &#8377; 36 - 50</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Drumsticks</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 60</div>
														<div class='Cell'> &#8377; 69 - 76</div>
														<div class='Cell'> &#8377; 72 - 99</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Eggplant (Brinjal or Aubergine)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 29</div>
														<div class='Cell'> &#8377; 33 - 37</div>
														<div class='Cell'> &#8377; 35 - 48</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Elephant Yam</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 45</div>
														<div class='Cell'> &#8377; 52 - 57</div>
														<div class='Cell'> &#8377; 54 - 74</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Fenugreek leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 12</div>
														<div class='Cell'> &#8377; 14 - 15</div>
														<div class='Cell'> &#8377; 14 - 20</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>French Beans (Green beans)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 55</div>
														<div class='Cell'> &#8377; 63 - 70</div>
														<div class='Cell'> &#8377; 66 - 91</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Garlic</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 115</div>
														<div class='Cell'> &#8377; 132 - 146</div>
														<div class='Cell'> &#8377; 138 - 190</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Ginger</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 41</div>
														<div class='Cell'> &#8377; 47 - 52</div>
														<div class='Cell'> &#8377; 49 - 68</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Green chili</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 60</div>
														<div class='Cell'> &#8377; 69 - 76</div>
														<div class='Cell'> &#8377; 72 - 99</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Green onion (Scallian or Spring onion)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 32</div>
														<div class='Cell'> &#8377; 37 - 41</div>
														<div class='Cell'> &#8377; 38 - 53</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Green peas</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 73</div>
														<div class='Cell'> &#8377; 84 - 93</div>
														<div class='Cell'> &#8377; 88 - 120</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Ivy gourd</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 35</div>
														<div class='Cell'> &#8377; 40 - 44</div>
														<div class='Cell'> &#8377; 42 - 58</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Jackfruit</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 322</div>
														<div class='Cell'> &#8377; 370 - 409</div>
														<div class='Cell'> &#8377; 386 - 531</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Lemon (Lime)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 71</div>
														<div class='Cell'> &#8377; 82 - 90</div>
														<div class='Cell'> &#8377; 85 - 117</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Mint leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 9</div>
														<div class='Cell'> &#8377; 10 - 11</div>
														<div class='Cell'> &#8377; 11 - 15</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Mushroom</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 72</div>
														<div class='Cell'> &#8377; 83 - 91</div>
														<div class='Cell'> &#8377; 86 - 119</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Mustard leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 23</div>
														<div class='Cell'> &#8377; 26 - 29</div>
														<div class='Cell'> &#8377; 28 - 38</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Okra (Ladies' finger)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 37</div>
														<div class='Cell'> &#8377; 43 - 47</div>
														<div class='Cell'> &#8377; 44 - 61</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Onion</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 43</div>
														<div class='Cell'> &#8377; 49 - 55</div>
														<div class='Cell'> &#8377; 52 - 71</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Plantain (raw banana)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 10</div>
														<div class='Cell'> &#8377; 12 - 13</div>
														<div class='Cell'> &#8377; 12 - 17</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Potato</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 16</div>
														<div class='Cell'> &#8377; 18 - 20</div>
														<div class='Cell'> &#8377; 19 - 26</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Pumpkin</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 17</div>
														<div class='Cell'> &#8377; 20 - 22</div>
														<div class='Cell'> &#8377; 20 - 28</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Radish (Daikon)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 35</div>
														<div class='Cell'> &#8377; 40 - 44</div>
														<div class='Cell'> &#8377; 42 - 58</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Ridge gourd</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 37</div>
														<div class='Cell'> &#8377; 43 - 47</div>
														<div class='Cell'> &#8377; 44 - 61</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Shallot (pearl onion)</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 61</div>
														<div class='Cell'> &#8377; 70 - 77</div>
														<div class='Cell'> &#8377; 73 - 101</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Snake gourd</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 43</div>
														<div class='Cell'> &#8377; 49 - 55</div>
														<div class='Cell'> &#8377; 52 - 71</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Sorrel leaves</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 19</div>
														<div class='Cell'> &#8377; 22 - 24</div>
														<div class='Cell'> &#8377; 23 - 31</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Spinach</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 16</div>
														<div class='Cell'> &#8377; 18 - 20</div>
														<div class='Cell'> &#8377; 19 - 26</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Sweet potato</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 37</div>
														<div class='Cell'> &#8377; 43 - 47</div>
														<div class='Cell'> &#8377; 44 - 61</div>
													</div>
																										<div class='Row'>
														<div class='Cell'>Tomato</div>
														<div class='Cell'>Kg / Pcs</div>
														<div class='Cell'> &#8377; 53</div>
														<div class='Cell'> &#8377; 61 - 67</div>
														<div class='Cell'> &#8377; 64 - 87</div>
													</div>
													    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    <!-- jQuery sticky menu -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/js/main.js"></script>  </body>
	</html>